### Tuples

In [1]:
my_tuple = (1, '2', 3.4)

In [3]:
b = (1,)
print(b)

(1,)

In [4]:
new_tuple = ('a','b','c','d','e')
new_tuple[1:3]

('b', 'c')

In [5]:
"abcde"[1:3]

'bc'

In [6]:
len(new_tuple)

5

In [15]:
tup = ('a', 'a', 'b', 'a', 'c', 'b')
tup.index('a')

0

## Lists

In [16]:
my_list = [1, '2', 3.4]

In [17]:
a = [1]
a

[1]

In [19]:
str(my_list)

"[1, '2', 3.4]"

In [22]:
print(my_list)

[1, '2', 3.4]

In [23]:
print(*my_list)

1 2 3.4

In [24]:
arr = [1, 2, 3, 4, 5, 6, 7]

In [25]:
min(*arr)

1

In [26]:
new_list = ['a','b','c','d','e']

new_list[1] = 'f'

print(new_list)

['a', 'f', 'c', 'd', 'e']

In [27]:
a = [1, 2, 3, 4, 5]

a[1:4] = [6, 6, 6]

print(a)

[1, 6, 6, 6, 5]

In [28]:
a = [1, 2, 3, 4, 5]

last = a.pop()

print(a)
print(last)

[1, 2, 3, 4]
5

In [29]:
a = [1, 2, 3, 4, 5]

a.remove(2)

print(a)

[1, 3, 4, 5]

In [30]:
a = [1, 2, 3, 4, 5]

del a[1]

print(a)

[1, 3, 4, 5]

In [34]:
a = [1, 2, 3, 4, 5]
i = 0
while i < len(a):
    a.pop()
    i += 1
a

[1, 2]

In [35]:
a = [1, 2, 3, 4, 5]

a.clear()

a

[]

In [39]:
a = [1, 2, 3, 4, 5]

a.append([6, 7, 8])

a

[1, 2, 3, 4, 5, [6, 7, 8]]

In [40]:
a = [1, 2, 3, 4, 5]

a.extend([6, 7, 8])

a

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
a = [1, 2, 3, 4, 5]

a.insert(1, '100')

print(a)

[1, '100', 2, 3, 4, 5]

In [43]:
a = [1, 2, 3, 4, 5]

a[1] = '100'

print(a)

[1, '100', 3, 4, 5]

In [46]:
a = [4, 3, 2, 5, 1]

a.sort()

print(a)

[1, 2, 3, 4, 5]

In [47]:
a = ["c", "b", "d", "a"]

a.sort()

print(a)

['a', 'b', 'c', 'd']

In [49]:
a = [1, 2, 3, 4, 5]

a.reverse()

print(a)

[5, 4, 3, 2, 1]

## more fun stuff

In [50]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [51]:
1 in [1, 2, 3]

True

In [52]:
1 in (1, 2, 3)

True

In [54]:
"-|-".join(['a', 'b', 'c'])

'a-|-b-|-c'

In [55]:
"a-|-b-|-c".split('-|-')

['a', 'b', 'c']

In [56]:
read = """1, 2, 3
4, 5, 6
7, 8, 9
10, 11, 12
13, 14, 15"""
# """ makes new line

In [57]:
l = read.split("\n")
l

['1, 2, 3', '4, 5, 6', '7, 8, 9', '10, 11, 12', '13, 14, 15']

In [59]:
l = read.split("\n")
k = []
i = 0
while i < len(l):
    k.append(l[i].split(", "))
    i += 1
k

[['1', '2', '3'],
 ['4', '5', '6'],
 ['7', '8', '9'],
 ['10', '11', '12'],
 ['13', '14', '15']]

In [71]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [79]:
a = [1, 2, 3]
a.extend([4, 5, 6])
print(a)

[1, 2, 3, 4, 5, 6]

In [74]:
a = [1, 2, 3]
a += [4, 5, 6]
a

[1, 2, 3, 4, 5, 6]

In [75]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [61]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [63]:
a = [[0, 0, 0]] * 3
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [66]:
a[0][1] = 2
a

[[0, 2, 0], [0, 2, 0], [0, 2, 0]]

In [67]:
a = 1
b = a # =1
a += 1
print(b)

1

In [70]:
a = [1] # points to object of a
b = a # b, point to the same object that a does
a.append(2) # append to the mutable object that a points to
print(b)

[1, 2]

In [ ]:
a = [1] # points to object of a
b = a.copy(1) # b, point to the same object that a does
a.append(2) # append to the mutable object that a points to
print(b)

In [80]:
a = [[1],[2]]
b = a.copy()
a[0][0] = 3
print(b)

[[3], [2]]

In [ ]:
b = [[1], [2]]

In [ ]:
# variables are not their values, they just point to their values